extends layout

block content
  l-box
   l-box-inner
     h3 Sign In
     l-section
       l-row
         label Email
         input
     l-section
       l-row
         l-column1
           label Password
         l-column2 
           h1 
             a(href="/").
               Forgot Password
       input
     l-section
       button(class="btn",name="Sign In").
         Sign In  
