.header
  .title
    <img id="mainlogo" src="images/mainlogo.png" style="position: absolute;z-index:999;"/>
  .navba
    .navbar-inner
      ul.nav
       li <a href="/">Home</a>
       li <a href="/about">About</a>
       li <a href="/involved">Involved</a>
       li <a href="/contact">Contact Us</a>
       li <a href="/login">Login</a>
