/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0
main-hover-color = black;

body
  font-family 'Georgia'
  color #444

.header
  //font-family 'Quicksand'
  padding 5px 10px
  color #660000
  //font-size 12px
  text-align left
  zoom 1
  height 70px
  display block
  
  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  //background-color #272C6B 
  //border-bottom 1px solid #413CA6
  //text-shadow 0px -1px 0px darken(main-color, 30%)

.title
  font-size 10px
  font-style normal
  padding 17px 40px 0px 18px
  z-index 20
  float left
  .img
    width auto
    height auto
    vertical-align middle
    border 0

.navba
  position relative
  margin 0px 0px 0px 200px
  text-align right
  z-index 20
  padding 2px 0px 0px 450px
  
.navbar-inner
  display table
  .nav
    position relative
    left 0
    display block
    float left
    margin 10px 10px 0 0
    .ul
      padding 0
      margin 0 0 10px 25px
      display inline
      .li 
      display inline
    
      .a
        font 12px/1.4 "Lucida Grande", Arial, sans-serif
        background black
        color #ccc

ul li
  display inline      

ul li a
  float none
  padding 10px 15px 10px
  color #777
  text-decoration none
  text-shadow 0 1px 0 #fff

.container
  width 500px
  margin 50px auto
  overflow hidden

.main-content
  float left
  width 300px
  
  h5
    font-size 80px
  
  h4
    font-size 60px

  h3
    font-size 40px
 
  h1
    font-size 13px

  p
    margin-bottom 20px

.sidebar
  float left
  width 200px

  .widget

    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    border-radius 3px
    border 1px solid #ccc
    margin-left 20px
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px

p
  line-height 1.8

h5
  font-size 65pt

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px

l-box
  display block
  border 1px #ddd solid
  background-color #f6f6f6

l-box-inner
  border-radius 4px
  position relative
  display block
  padding-left 18px
  margin-bottom 18px
  margin-top 18px
  margin-right 10px

l-section
  display block
  margin-top 25px

l-row
  display table
  line-height 0
  width 100%

label
  display block
  padding-left 2px
  padding-bottom 14px
  font-weight bold 

l-column1
  float left

l-column2
  float right

input
  padding 3px 7px
  height 15px
  width 80%

button
  margin-top 1px
  width 85%

btn
  margin-top 1px
  width 85%
